@font-face {
    font-family: 'Montauk Bold';
    src: url(/Fonts/Montauk-Bold.otf);
}

@font-face {
    font-family: 'Montauk Italic';
    src: url(/Fonts/Montauk-Italic.otf);
}

@font-face {
    font-family: 'Montauk Light';
    src: url(/Fonts/Montauk-Light.otf);
}

@font-face {
    font-family: 'Montauk Regular';
    src: url(/Fonts/Montauk-Regular.otf);
}

/* Text Sizes Start */
.text-50{
    font-size: 50px;
    color: #5F002B;
}

/* Text Sizes End */

/* Fonts Start */
.font-bold {
    font-family: 'Montauk Bold', 'sans-serif';
}

.font-ital{
    font-family: "Montauk Italic", sans-serif;
}

.font-light{
    font-family: "Montauk Light", sans-serif;
}

.font-reg{
    font-family: "Montauk Regular", sans-serif;
}

.font-fugaz {
    font-family: 'Fugaz One';
}
/* Fonts End */

body {
    background-image: url(../assets/RestaurantMockupFiles/assets/bgtexture.jpg);
}
/* Home - Start */
.navbar {
    margin: 1.5% 4.25% 0;
}

.muzzles-logo {
    width: auto;
    height: auto;
    padding: 1rem 8rem 4rem 8rem;
}

.flex-even{
    display: flex;
    justify-content: space-evenly;
}

.flex-between {
    display: flex;
    justify-content: space-between;
}

.flex-even {
    display: flex;
    justify-content: space-evenly;
}

.menu-options-space {
    padding-right: 3rem;
    padding-top: 2rem;
}

.sm-text{
    font-size: 20px;
    color: #5F002B;
}

.menu-padding {
    padding-right: 8rem;
}

.no-decoration {
    text-decoration: none;
}

/* Catering Page Start*/
.under-nav {
    background-color: #FFFFFF;
    margin: 0 35px 86px 35px;
}

.padding-text{
    color: #5F002B;
    padding-left: 40px;
}


/* Catering Page End */


.home-hero-image {
    background-image: url('/Puppy-Restaurant/assets/RestaurantMockupFiles/assets/homeHero.jpg');
    height: 37.5rem;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 6rem;
}

.white-bg {
    background-color: white;
}

.home-padding {
    padding: 2rem 6rem 2rem 6rem;
}

.fill-photo {
    width: 100%;
}

.no-padding {
    padding: 0px;
    margin: 0px;
}

/* Home - End */

/* Footer - Start */

.company-logo {
    height: 2rem;
}

.footer-left-padding {
    padding-left: 6rem;
}

.footer-right-padding {
    padding-right: 6rem;
}

/* Footer - End */